
#logo{
    display: flex;
    margin-left: 2em;   
}
#logo img{
    margin-top: 0.5em;
}
#navbar li{
    display: inline;
    margin-right: 4em;
    color: white;
}
.section1 button{
    background-color: #f19201;
    color: white;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.section1 p{
    color: white;
}
.section1{
    background-image: url("images2/image2.png");
    background-size: 1450px;
    height: 500px;
    width: 100%
}
.section1 .section1info{
    margin-top: 7em;
    margin-left: 5em;
}
.section1 .section1info p{
    font-size:xx-large;
    font-weight: 700;
}
.section1 .section1info button{
    margin-top: 40px;
    height: 40px;
    width: 120px;
    font-size: large;
}
.section2 .services{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2 button{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    color: white;
    background-color: #f19201;
    border-color: #f19201;
}
.section2 .services2{
    display: flex;
    justify-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 3em;
    margin-bottom: 5em;
}
.section2 .services2 #one{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2 .services2 #two{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2 .services2 #three{
    display: flex;
    flex-direction: column;
    align-items: center;
}